body {
	background-color: var(--bg-color);
	font-family: "Proxima Soft";
	padding: 50px 160px ;
}

.App {
	padding: 200px;
}

form {
	position: relative;
	width: max-content;
}

.SearchIcon {
	position: absolute;
	top: 50%;
	transform: translateY(-51%);
	right: 26px;
}

