body {
	background-color: var(--bg-color);
	font-family: "GT Maru";
	padding: 50px 7vw;
}

.App {
	padding: 200px;
}

.SearchIcon {
	position: absolute;
	top: 50%;
	transform: translateY(-51%);
	right: 26px;
}

.pending {
	animation: 3s slidein infinite alternate;
}

@keyframes hover1 {
	0% {
		transform: translate(40%, 47%);
	}
	50% {
		transform: translate(40%, 45%);
	}

	100% {
		transform: translate(40%, 48%);
	}
}

@keyframes hover2 {
	0% {
		top: 0px;
	}

	100% {
		top: -10px;
	}
}

@keyframes hover3 {
	0% {
		top: 55%;
	}
	100% {
		top: 45%;
	}
}
