:root {
	--bg-color: #ffd7b4;
	--blue: #5267e0;
	--light-blue: #94a2ed;
	--orange: #ffa01c;
	--meter-color: #ffb66d;
	--warm-white: #f9f1eb;
	--red: #ff5a64;
	--dark-blk: hsl(27, 10%, 30%);

	--border-sm: 5px solid var(--dark-blk);
	--border-md: 8px solid var(--dark-blk);
	--border-lg: 11px solid var(--dark-blk);

	--font-sm: 12px;
	--font-md: 48px;
	--font-lg: 342px;

	--radius-sm: 8px;
	--radius-md: 19px;
	--radius-lg: 35px;

	--letter-spacing-sm: 0.4px;

	--padding-left: 25px;

	--padding-bar: 16px 20px 14px;
}

@media (min-width: 1600px) {
	:root {
		--dark-blk: hsl(27, 10%, 32%);
		--border-sm: 6px solid var(--dark-blk);


		--border-lg: 14px solid var(--dark-blk);
		--border-md: 10px solid var(--dark-blk);

		--radius-md: 24px;
		--radius-lg: 40px;

		--font-lg: 480px;
		--font-md: 72px;
		--font-sm: 14px;

		--padding-bar: 22px 24px 18px;
	}
}
