:root {
	--bg-color: #ffd7b4;
	--blue: #5267e0;
	--light-blue: #94a2ed;
	--orange: #ffa01c;
	--meter-color: #ffb66d;
	--warm-white: #f9f1eb;
	--red: #ff5a64;
	--dark-blk: #333333;

	--border-thick: 8px;
	--border-md: 6px;
	--border-sm: 4px;
}
